:root {
    --gray: #d2d0ce;
    --gray-light: #edebe9;
}

li {
    list-style: none;
    font-size: 18px;
}

a {
    border-radius: 4px;
    text-decoration: none;
    height: 30px;
    padding: 3px 5px;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
}

.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 3px 5px;
    border-radius: 4px;
    transition: all 0.3s;
}

.button:hover {
    background-color: var(--gray-light);
}

@keyframes slide-in {
    0% {
        transform: translateY(400px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}